.chat{
    height: 40vh;
    height: min-content;
    border: 1px solid #E3E3E3;
   
}
.svg{
    background-color: #9ACD32 ;
    border-radius: 50%;
    color: white ;
}
.user{
    float: right;
}

.url{
    border: 1px solid #a9a5a5  ;
}
.dropEmailAlign{
     /* Adjust the height as needed */
    overflow-y: auto;
    max-height: 150px;
    /* Enable vertical scrollbar */
}