<!-- Nav-bar -->
<div class="d-flex justify-content-between align-items-center py-2 shadow-sm nav-bar px-4">
  <!-- app logo -->
    <a>
      <div class="d-flex app-logo ">
        <div>
          <img src="https://images.squarespace-cdn.com/content/v1/60611efa464a766c6a812834/1619493587762-CHFCF4STGE1HIF46VSQ0/CF_Icon_Retrospectives.png" alt="Icon" height="32" width="32">
        </div>
        <div class="d-flex">
          <h3 class="text-secondary px-1 fw-bold fo ">RETRO</h3>
          <h3 class="spect fw-bold">SPECT</h3>
        </div>
      </div>
    </a>

  <!-- user menu -->
  <div class="position-relative user-menu">
    <div>
      <div class="d-flex">
        <div (click)="showDropDown()">
          <button *ngIf="user; else elseBlock" style="background-color: #9ACD32;" class="btn text-dark  fw-bold p-0 px-4 border rounded-pill ">
            {{userEmail}}
          </button>
        </div>
      </div>
      <ng-template #elseBlock>
        <button class="btn">
          <a>
           login
          </a>
        </button>
      </ng-template>
    </div>
    <div *ngIf="menu" class="position-absolute   mt-1  w-48  bg-white rounded shadow-lg z-10">
      <a href="/profile" class="d-block px-4 py-2 text-dark dropdown-item">Profile</a>
      <a routerLink="/list" (click)="onMyRoomsClick()" class="d-block px-4 py-2 text-dark dropdown-item">My Rooms</a>
      <a (click)="logout()" class="d-block px-4 py-2 text-dark dropdown-item">Logout</a>
    </div>
    
  </div>
</div>
