<div class="flex justify-between items-center p-2 Navbar">
    <a routerLink="/">
        <div class="flex items-center">
            <div>
                <img src="https://images.squarespace-cdn.com/content/v1/60611efa464a766c6a812834/1619493587762-CHFCF4STGE1HIF46VSQ0/CF_Icon_Retrospectives.png">
            </div>
            <div class="flex items-center">
                <h3 class="text-black px-1 font-bold">RETRO</h3>
                <h3 class="text-white  font-bold">SPECT</h3>
            </div>
        </div>
    </a>
    <div class="relative">
    <div>
        <button class="text-white px-4" > <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          </button >
          <div (click)="showDropDown()">
            <button  *ngIf="user; else elseBlock"    class="text-white px-4 add">heeneth
            </button>

          </div>
        
          <ng-template #elseBlock><button routerLink="/login">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
              </svg>
          </button></ng-template>
    </div>
    <div
    *ngIf="menu"
    class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg z-10"
  >
    <a
      href="/profile"
      class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
      >profile</a
    >
    <a
      routerLink="/list"
      class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
      >My Orders</a
    >
    <a
      href="/"
    
      class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
      >logout</a
    >
    <!-- Add more options as needed -->
  </div>
</div>
</div>