.app-logo{
    justify-content: center;
    align-items: center;

    
}

h3{
    font-size: larger;
}


.dropdown-item {
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa; /* Change to desired hover background color */
  }
  
  .dropdown-item:focus {
    background-color: #e9ecef; /* Change to desired focus background color */
    color: #212529; /* Change to desired focus text color */
    text-decoration: none;
    outline: none;
  }
  