.chatBox{
    border: 1px solid rgb(122, 122, 122);
    height: 80vh;
}

.noteBar{
    border: 1px solid black;
    padding: 12px;
    border-radius: 2px;
}
textarea{
    resize: none;
    font-size: small;
}
.areaH1{
    border: 1px solid rgb(255, 255, 255);
    width: fit-content;
    padding: 1px;
    margin: 0%;
    /* border-top-right-radius: 4px;
    border-top-left-radius: 4px; */
    border-radius: 2px;
}

.chat-card{
    border: 1px solid #E3E3E3;
}

/* CSS for positioning the group chat component */
.position-absolute {
    position: absolute;
  }
  .bottom-0 {
    bottom: 0;
  }
  .right-0 {
    right: 0;
  }
  .mb-4 {
    margin-bottom: 1rem; /* Adjust margin as needed */
  }
  .mr-4 {
    margin-right: 1rem; /* Adjust margin as needed */
  }
  .chat-svg{
    
    border-radius: 50%;align-self: start;
    float: right;
  }

  .chat{
    border: 2px solid rgb(194, 192, 192);
   
  }

  
@keyframes fadeInSlideDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-notification {
  animation: fadeInSlideDown 0.5s ease-out;
}

.notification-user {
  font-size: small;
  font-weight: bold;
  color: #ffffff; /* Example color, adjust as needed */
}

.joined-message {
  color: #a5aaaa; /* Example color, adjust as needed */
}



.topic-text{
  font-size: 16px;
}
.min-height{
  min-height: 24rem;
}
.min-width{
  min-width: 24rem;
}
.chat-width{
  width: 24rem;
}
.max-width {
  max-width: 28rem/* 448px */;
}
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}
.min-height-svh{
  min-height: 100svh;
}
a{
  font-size: 14px;
}
.origin {
  transform-origin: top right;
}
.un-text{
  font-size: 8px;
}
.chat-box-height{
  max-height: 24rem/* 384px */;
  min-height: 9rem/* 144px */;
}