<app-nav-bar></app-nav-bar>
<app-chat [data]="roomId"></app-chat>
<div>
  <div class="">
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 min-h-svh lg:grid-cols-3 gap-2 mt-2 px-2 lg:px-12">
     <div *ngFor="let topic of retroTypeData.topics">
      <div class="bg-white p-2 shadow min-h-96 rounded-sm chat-card">
        <h2 class="text-sm text-center font-semibold text-gray-700">
        {{ topic.topicName}}
        </h2>
        <button (click)="TextAreaDropDown(topic.topicName)"
          class="bg-gray-100 w-full text-gray-700 px-4 my-1 rounded hover:bg-gray-300 hover:text-gray-900 hover:font-bold">
          +
        </button>

        <div class="my-4" *ngIf="topicTextAreaStates[topic.topicName]">
          <div>
            <textarea   class="border font-bold text-white text-xs  p-1 w-full rounded-sm focus:outline-none"
              type="text" [(ngModel)]="goodMessageText" (keydown.enter)="sendMessage(topic.topicName)"
              [ngClass]="{
                'bg-green-500': topic.topicName === 'Pros',
                'bg-red-500': topic.topicName === 'Cons'  || topic.topicName === 'What Didn\'t Go Well',
                'bg-blue-500': topic.topicName === 'What Went Well',
                'bg-orange-500': topic.topicName === 'What Can Be Improved'
              }"
              placeholder="Enter text..."></textarea>
          </div>

          
          <button class="bg-blue-400 rounded-sm text-white text-xs px-1" style="float: right"
            (click)="sendMessage(topic.topicName)">
            send
          </button>
        </div>


        <div *ngFor="let message of filteredMessages | async; let i = index" class="m-1">
          <div *ngIf="message?.contentType ===  topic.topicName ">
            <div
            [ngClass]="{
              'bg-green-500': topic.topicName === 'Pros',
              'bg-red-500': topic.topicName === 'Cons'|| topic.topicName === 'What Didn\'t Go Well',
              'bg-blue-500': topic.topicName === 'What Went Well' ,
              'bg-orange-500': topic.topicName === 'What Can Be Improved'
            }"
           
              class="  text-white rounded-sm font-semibold text-xs p-3 my-1 hover:scale-105 transition-transform duration-300">
              <div class="flex justify-between">
                <p>{{ message?.content }}
                </p>

                <div class="flex items-center">
                  <div class="relative inline-block ">
                    <!-- Dropdown toggle button -->
                    <button (click)="optionsDropDown(i)"  class="relative z-10 block p-1 text-gray-800  border-transparent rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                        </svg>
                    </button>
                
                    <!-- Dropdown menu -->
                    <div x-show="isOpen" 
                       *ngIf="selectedMessageIndex === i"
                        x-transition:enter="transition ease-out duration-100"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                        x-transition:leave="transition ease-in duration-100"
                        x-transition:leave-start="opacity-100 scale-100"
                        x-transition:leave-end="opacity-0 scale-90"
                        class="absolute right-0 z-20 w-48 py-2 mt-2 origin-top-right bg-white rounded-md shadow-xl dark:bg-gray-800"
                    >
                        <a   (click)="deleteMessage(message)"   class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                            Delete
                        </a>
                
                        <a href="#" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                            Edit
                        </a>
                
                        <a href="#" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                            Keyboard shortcuts
                        </a>
                    </div>
                </div>

                  </div>
              </div>
              <div class="flex justify-between">
                <button>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                    <path
                      d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                  </svg>
                </button>
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                    fill="currentColor" class="w-4 h-4 m-1">
                    <path fill-rule="evenodd"
                      d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-5-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM8 9c-1.825 0-3.422.977-4.295 2.437A5.49 5.49 0 0 0 8 13.5a5.49 5.49 0 0 0 4.294-2.063A4.997 4.997 0 0 0 8 9Z"
                      clip-rule="evenodd" />
                  </svg>
                  {{ message?.username }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>


      <!-- group chat -->
      <div class="fixed z-30 min-w-96  bottom-0 right-0 mb-4 mr-4">
        <div>
          <div>
            <div>
              <div class="min-w-full" *ngIf="groupChatToggleVer" style="overflow-y: auto;">
                <div class="max-w-md chat mx-auto my-2 bg-gray-100 rounded-sm shadow-lg">
                  <!-- Chat header -->
                  <div class="flex items-center bg-slate-300  px-2 p-2 ">
                    <div class="svg p-2">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                          d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                      </svg>
                    </div>
                    <div class="px-1">
                      <h2 class="text-mb text-gray-800 font-semibold mb-0">Chat Room</h2>
                      <p class="m-0 font-thin text-gray-600 text-xs">online</p>
                    </div>
                  </div>
                  <!-- Chat messages -->
                  <div class="m-2 mt-4 min-h-36 max-h-96 overflow-y-auto">
                    <div *ngFor="let message of filteredMessages | async" class="m-1">
                      <div *ngIf="message?.contentType === 'Common'"
                        [ngClass]="{'justify-end': message.username === username, 'justify-start': message.sender !== 'user'}"
                        class="flex">
                        <div class="p-3 bg-gray-100 shadow-md rounded-lg">
                          <p class="text-sm text-gray-800 font-semibold">{{ message.content }}</p>
                          <p class="text-xs font-thin text-gray-600">{{ message.username }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Input box -->
                  <div class="flex p-1 bg-slate-100 mt-auto mt-min-50">
                    <input type="text" (keydown.enter)="sendCommonMessage()" [(ngModel)]="commonMessageText"
                      placeholder="Type your message..."
                      class="flex-1 px-4 py-1 mr-2 rounded-sm border border-gray-300 focus:outline-none focus:border-blue-500" />
                    <button (click)="sendCommonMessage()"
                      class="px-4 py-1 bg-blue-500 text-white rounded-sm hover:bg-blue-600">Send</button>
                  </div>
                </div>
              </div>
              <div>
                <!-- Chat toggle button -->
                <button (click)="groupChatToggle()" class="chat-svg text-gray-800 shadow-lg hover:text-gray-600">
                  <img *ngIf="!groupChatToggleVer" src="https://static.wixstatic.com/media/713b90_7841ba78e810446f8765776b69ee76e3~mv2.png" height="48" width="48" style="border-radius: 50%;" >
                  <img *ngIf="groupChatToggleVer" class="p-0 " src="../assets/images/x-button.png" height="48px" width="48px">
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>