.card{
  background-color: #1b65fa;
  border: 1px solid #E3E3E3;
  

}
img{
    border-radius: 50%;
    
}
.search-bar{
    border: 1px solid #E3E3E3;
    border-radius: 2px;
}
.add-card{
  border-radius: 50
}
.form{
  border: 1px solid #E3E3E3;
}
input{
  border: 0px solid white;
}
.roomId{
  border-radius: 3px;
  border: 2px solid black;
}
.roomInput:focus{
  outline: none;
}