<app-nav-bar></app-nav-bar>
<div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4  lg:px-8
     ">
        <div class=" card m-2 p-2 hover:shadow-lg">
            <div class=" flex justify-between">
                <h3 >Room ID: 1268</h3>
                <p>
                    <img src="https://media.tenor.com/yjOrdcOkLPUAAAAi/green-dot.gif" width="16" height="16" >
                </p>

            </div>
            
        <h3>Room Name : Gaming</h3>
        <h4>Room dis : about gaming </h4>
            <div class="flex justify-between">
                <p class="font-thin" >Start-6:30</p>
                <p class="font-thin">End-7:30</p>
            </div>
        </div>
        <div class="card m-2 p-2 flex justify-center hover:shadow-lg">
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          
      </button>
        </div>

        
    </div>
    <h1></h1>
</div>
