.btn-primary{
  background-color: black;
  border: 0px none;
}
.add-btn{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-btn {
  cursor: pointer;
}
.status-indicator {
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  border-radius: 50%;
}
.room-name {
  font-weight: 600;
  font-size: 1.25rem;
  color: #1E293B;
}
.room-description {
  color: #000;
  font-size: 1rem;
  margin: 1rem 0;
}
.user-name {
  font-size: 1rem;
  padding-left: 0.5rem;
}