<app-nav-bar></app-nav-bar>
<div class="lg:px-12">
    <div>
        <div>
            <div class="flex justify-between items-center">
                <div>
                    <h2 class="font-bold text-2xl my-6 text-gray-700">Dashboard</h2>
                </div>
                <div>
                    <input placeholder="Filter your boards" class="search-bar px-3 font-medium text-sm p-1">
                </div>

            </div>
            
        </div>
        <div>
            <h4 class="font-thin text-gray-700" >Public boards collaborate by sharing room ID</h4>
        </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 mt-6">
        <div class=" card  p-2 hover:shadow-md">
            <h3>Room ID: 1268</h3>
        <h3>Room Name : Gaming</h3>
            <div class="flex justify-between">
                <p> 6:30</p>
                <p>7:30</p>
            </div>
        </div>
        <div class="bg-slate-300 m-2 p-2 flex justify-center">
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          
      </button>
        </div>

        
    </div>
    <h1></h1>
</div>
