<app-nav-bar></app-nav-bar>
<div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
        <div class=" card m-2 p-2 hover:shadow-md">
            <h3>Room ID: 1268</h3>
        <h3>Room Name : Gaming</h3>
            <div class="flex justify-between">
                <p> 6:30</p>
                <p>7:30</p>
            </div>
        </div>
        <div class="bg-slate-300 m-2 p-2 flex justify-center">
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          
      </button>
        </div>

        
    </div>
    <h1></h1>
</div>
