<div class="row h-100 card card-align">
  <div class="shadow w-full">
    <div>
      <h1 class="text-slate-700 font-bold heading-align">CREATE ROOM</h1>
    </div>
    <div class="px-8">
      <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
        <div class="input-align">
          <mat-label>Title</mat-label>
          <input 
            class="form-control"
            placeholder="Ex. project"
            value=""
            formControlName="roomName"
          />
        </div>
        <div class="input-align">
          <mat-label>Description</mat-label>
          <textarea
            class="form-control"
            placeholder="Ex. It makes me feel..."
            value=""
            formControlName="roomDescription"
          ></textarea>
        </div>
        <div class="input-align my-1">
          <label class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600">
            <span class="ml-2 text-sm text-gray-600">Restricted Room</span>
          </label>
        </div>
        <div class="input-align">
          <mat-label>Topics to Discuss</mat-label>
          <mat-form-field>
            <!-- <mat-select formControlName="roomTopics" multiple></mat-select> -->
            <mat-select formControlName="roomTopics" multiple [compareWith]="compareTopics">
              <mat-select-trigger>
                {{ roomForm.get('roomTopics')?.value?.[0]?.topicName || '' }}
                <span *ngIf="roomForm.get('roomTopics')?.value && roomForm.get('roomTopics')?.value.length > 1" class="example-additional-selection">
                  (+{{ roomForm.get('roomTopics')?.value?.length - 1 }} {{ roomForm.get('roomTopics')?.value?.length === 2 ? 'other' : 'others' }})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topic of topicList" [value]="topic">
                {{ topic.topicName }}
              </mat-option>
            </mat-select>
            
            
            
            
          </mat-form-field>
        </div>
        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
  </div>
</div>
