.card-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E3E3E3;
    background: white;
    
}


.heading-align{
    text-align: center;
    margin-bottom: 5px;
}

.form-group{
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;

}
mat-label{
    margin-bottom: 3px;
    color: rgb(34, 33, 33);
    font-weight:700;
    font-size: small;
  
}
.input-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.submit-button{
    background-color: #9ACD32;
    margin-bottom: 10px;
    width: 151px;
    height: 35px;
    font: normal normal medium 14px/17px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
   
    
}
.form-control{
    margin-bottom: 5px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #E3E3E3;
    padding: 10px;
}